[submodule "emacs/site-lisp/use-package"]
	path = emacs/site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "emacs/site-lisp/evil-plugins"]
	path = emacs/site-lisp/evil-plugins
	url = https://github.com/tarao/evil-plugins.git
[submodule "emacs/site-lisp/magit"]
	path = emacs/site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "emacs/org-mode"]
	path = emacs/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "emacs/site-lisp/org-manage"]
	path = emacs/site-lisp/org-manage
	url = https://github.com/dmgerman/org-manage
